{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
</head>
<body>
<!-- FORM -->
    <div class="container">
        <form action="" method="post">
        {% csrf_token %}
            <div class="card">
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
                <h3>Sign Up</h3>
                <div class="inputBox">
                    <!-- mogłbym tutaj też zajebać required=required -->
                    <input type="text" name="login">
                    <span>Login</span>
                </div>
                <div class="inputBox">
                    <!-- mogłbym tutaj też zajebać required=required -->
                    <input type="password"  name="password">
                    <span>Password</span>
                </div>

                <button type="submit">Enter</button>
                <a href="">Forget password?</a>
                <a href="{% url 'register' %}">Create new account</a>
            </div>
        </form>


    </div>
<!-- FORM -->
</body>
</html>